#choropleth_map {
	top:50px;
	bottom: 25px; 
	left: 100px;
	right: 100px;
	background-color: "#94d7f1";
	height: 600px;
}

#area_graph {
	top:25px;
	bottom: 25px; 
	left: 100px;
	right: 100px;
	display: flex;
	background-color: "#94d7f1";
  	justify-content: left;
	min-width: 0;
} 

h1 {
	display: flex;
  	justify-content: center;
	text-decoration: underline;
}

.chart-text-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;              
}

.chart-description {
  max-width: 300px;     
  font-size: 14px;
  line-height: 1.5;
  margin-left: 50px;
}

