* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #f7f9fc;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
    line-height: 1.6;
}

h1 {
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    /*background: linear-gradient(135deg, #1e3a8a, #2563eb);*/
	background: #0b1f3a;
    color: white;
    font-size: 2rem;
}

.section {
    padding: 40px 8%;
}

.section h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    border-left: 5px solid #0b1f3a;
    padding-left: 12px;
}

#choropleth_map,
#area_graph,
#line_graph,
#region_causes,
#cause_time,
#aus_map,
#heatmap,
#top_causes,
#ages_slope,
#ages_bar
 {
    width: 100%;
    max-width: 100%;
    min-height: 400px;

    background: white;
    border-radius: 12px;
    padding: 10px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    overflow: hidden;
}

#ages_slope {
    display: flex;
    flex-direction: column;
}

#ages_slope .vega-bindings {
    order: -1;
    margin-bottom: 15px;
}

.dashboard {
    display: grid;
	margin-bottom: 50px;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 20px;

    align-items: start;
    width: 100%;
    overflow-x: hidden;
}

.dashboard2 {
    display: grid;
    margin-bottom: 50px;

    grid-template-columns: 1fr;
    grid-template-rows: auto;

    gap: 20px;

    align-items: start;
    width: 100%;
    overflow-x: hidden;
}

.dashboard3 {
    display: grid;
    margin-bottom: 50px;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;

    gap: 20px;

    align-items: start;
    width: 100%;
    overflow-x: hidden;
}

.dashboard > * {
    min-width: 0;
}

.left_span {
    grid-column: 1;
    grid-row: 1 / span 2;
    min-height: 500px;
}

.top_right {
    grid-column: 2;
    grid-row: 1;
    min-height: 250px;
    height: fit-content;
    max-height: 200px;
}

.right {
    grid-column: 2;
    min-height: 250px;
    height: fit-content;
}

.left {
    grid-column: 1;
    min-height: 250px;
    height: fit-content;
}

.smaller_description {
    grid-column: 2;
    grid-row: 2;

    background: #ffffff;
    padding: 15px;

    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);

    align-self: start;
}

.side_description {
    grid-column: 2;
    grid-row: 1 / span 2;

    background: #ffffff;
    padding: 15px;

    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);

    align-self: start;
}

.chart_description {
    background: white;
    padding: 12px;
    border-left: 4px solid #0b1f3a;
    border-radius: 8px;

    max-width: 900px;
    margin-top: 15px;
}

#footer {
  background-color: #0b1f3a;
  color: white;

  width: 100%;
  padding: 20px 20px;


  margin-top: 40px;
  box-sizing: border-box;
}

a{
	color: white;
}


