#choropleth_map {
	top:50px;
	bottom: 25px; 
	left: 100px;
	right: 100px;
	background-color: "#94d7f1";
	height: 600px;
}

#area_graph {
	background-color: "#94d7f1";
	min-width: 0;
	grid-column: 1;
	grid-row: 1 / span 2;
} 

#line_graph {
	background-color: "#94d7f1";
	grid-column: 2;
	grid-row: 1;
	min-width: 0;
}

h1 {
	display: flex;
  	justify-content: center;
	text-decoration: underline;
}

.dashboard {
  display: grid;
  align-items: start;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  gap: 150px;
}


.chart-description {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  margin-right: 10px;
}

